.section-header {
    font-family: $gotham-medium;
    font-size: 17px;
    text-transform: uppercase;
    background: url(images/section-header-bg.png) center repeat-x;
    width: 100%;
    margin-bottom: 1em;
    > span {
        background: #fff;
        display: inline-block;
        padding-right: 1em;
        .grey-bg & {
            background: $so-lighter-grey;
        }
    }
}

.section-header-alt {
    @extend .section-header;
    background: 0;
    font-family: $gotham-book;
    color: $so-green;
    text-transform: none;
}
