%table-rows{
    $border: 1px solid $so-lighter-grey;
    border: $border;
    border-bottom: 0;

    &:last-of-type {
        border-bottom: $border;
    }
    td {
        vertical-align: middle;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        border: 0;
    }
}
