<div id="main-container" ng-controller="AppController as appCtrl">

    <div class="row row-offcanvas row-offcanvas-left">
    
        <div class="sidebar sidebar-offcanvas ">
           
            <div class="sidebar__logo" ui-sref="app.dashboard"></div>
            
            <ul class="sidebar__section ">
                <li><a ui-sref="app.expenses">Expenses</a></li>
                <li><a ui-sref="app.budget">Budget</a></li>
                <li><a ui-sref="app.reports">Reports</a></li>
                <li><a ui-sref="app.people">People</a></li>
                <li><a ui-sref="app.reminders">Reminders</a></li>
                <li><a ui-sref="app.settings.profile">Settings</a></li>
                <li><a ui-sref="app.notifications">Notifications</a></li>
            </ul>

            <ul class="sidebar__section">
                <li><a ui-sref="app.contact">Contact</a></li>
                <li><a ui-sref="site.terms">Terms of Service</a></li>
                <li ng-show="appCtrl.user" ng-controller="LogoutController as logoutCtrl" -->
                    <a ng-click="logoutCtrl.logout()"="#">Log Out</a>
                </li>
                <!-- <li ng-show="!user"><a ui-sref="public.login"="#">Login</a></li> -->
            </ul>

            <footer class="sidebar__footer">

                &copy; 2014 SpendOut, LLC. All Rights Reserved.<br/>

                <div class="doejo">
                    made by <span></span>
                </div>

            </footer>

        </div><!-- sidebar -->

        <div class="main" >

            <div class="row">

                <div class="main__header" role="navigation">
                
                    <span class="mobile-nav-toggle" data-toggle="offcanvas"></span>

                    <div class="user-actions" ng-if="appCtrl.user.email">
                

                        <div class="current-user-avatar">
                             {{ appCtrl.user.email | capitalize }} 
                        </div>

                        <a href class="add-expense-cta add-expense-cta__desktop spendout-btn" 
                           ng-click="open()">
                           <!-- ng-controller="CreateExpenseController"  -->
                            Add Expense
                        </a>

                        <a href class="add-expense-cta__mobile" 
                            
                            ng-click="open()">
                            <!-- ng-controller="CreateExpenseController"  -->
                        </a>
                    </div><!-- .user-actions -->

                </div><!-- .main__header -->

            </div> <!-- .row -->
            
              
             <div class="row">

                <ui-view/>    
            
            </div><!-- .row -->
           

        </div><!-- .main (extends .container-fluid)-->

    </div><!-- .row -->

</div><!-- main-container -->