<section class="settings-password">
    <div class="wrapper col-md-4 col-md-offset-4">

        <form role="form" name="passwordForm" ng-submit="passwordForm.$valid && updatePassword()" novalidate>



            <div class="form-group">
                <input type="password"
                       name="old_password"
                       ng-model="data.old_password"
                       ng-minlength="6"
                       ng-maxlength="200"
                       class="form-control"
                       ng-class="{ 'has-error' : passwordForm.old_password.$invalid && !passwordForm.old_password.$pristine }"
                       placeholder="Old Password"
                       required>
                <span class="help-block"
                    ng-show="passwordForm.old_password.$invalid && !passwordForm.old_password.$pristine">
                        Enter your current password
                </span>

               <!--  Valid ?: {{ passwordForm.old_password.$valid }} <br/>
                Error ?: {{ passwordForm.old_password.$error }} <br/>
                Dirty ?: {{  passwordForm.old_password.$dirty }} <br/>
                Pristine ?: {{  passwordForm.old_password.$pristine }} -->

            </div><!-- old password -->




            <div class="form-group">
                <input  type="password"
                        name="password"
                        ng-model="data.password"
                        ng-minlength="6"
                        ng-maxlength="200"
                        class="form-control"
                        placeholder="New Password"
                        required>

                <span class="help-block"
                        ng-show="passwordForm.password.$invalid && !passwordForm.password.$pristine">
                        Enter your desired password
                </span>

                <!-- Valid ?: {{ passwordForm.password.$valid }} <br/>
                Error ?: {{ passwordForm.password.$error }} <br/>
                Dirty ?: {{  passwordForm.password.$dirty }} <br/>
                Pristine ?: {{  passwordForm.password.$pristine }} -->

            </div><!-- new password -->



            <div class="form-group">
                <input type="password"
                       name="new_password_confirm"
                       ng-model="data.new_password_confirm"
                       data-match="data.password"
                       class="form-control"
                       placeholder="Confirm New Password"
                       required>
                <span class="help-block"
                      ng-show="passwordForm.new_password_confirm.$error.match">
                      Your password doesn't match!
                </span>
                <!-- ng-show="passwordForm.new_password_confirm.$invalid && !passwordForm.new_password_confirm.$pristine" -->
               <!--  Passwords match? {{ passwordForm.new_password_confirm.$error.match }}

                Valid ?: {{ passwordForm.new_password_confirm.$valid }} <br/>
                Error ?: {{ passwordForm.new_password_confirm.$error }} <br/>
                Dirty ?: {{  passwordForm.new_password_confirm.$dirty }} <br/>
                Pristine ?: {{  passwordForm.new_password_confirm.$pristine }} -->

            </div><!-- new password  confirm-->





            <button ng-disabled="passwordForm.$dirty && passwordForm.$invalid"
                    class="form-control spendout-btn ">
                Update Password
            </button><!-- new password - form submit -->


        </form>


      <!--   Valid ?:    {{ passwordForm.$valid }} <br/>
        Error ?:    {{ passwordForm.$error }} <br/>
        Dirty ?:    {{ passwordForm.$dirty }} <br/>
        Pristine ?: {{ passwordForm.$pristine }} -->
    </div><!-- .wrapper -->
</section>

