.home-page {

    p {
        font-size: 14px;
        font-family: $gotham-book;
        margin-bottom: 2em;
    }

    .title { color: #000; }

    .container {
        max-width: 980px;
    }

    .splash-container-wrap {
        border-top: 10px solid $so-light-green;
    }
    
    .splash-container {
        @extend .container;
        max-width: 980px;
        padding-bottom: 45px;

    }

    &__splash {
        padding-top: 45px;
        .logo{
            @include use-sprite('logo-alt');
        }
        h1 { 
            color: #000; 
            font-weight: 300; 
        }
        
        .cta {
            @extend .spendout-btn;
        }
    }

    &__testimony {
        margin-top: 20px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        %sprite { margin: 0 auto; min-height: 45px;}
        
        .cnbc {
            @extend %sprite;
            @include use-sprite('cnbc');
        }
        .mashable {
            @extend %sprite;
            @include use-sprite('mashable');
        }
        .pc-world {
            @extend %sprite;
            @include use-sprite('pc-world');
        }
        .techsavvyagent {
            @extend %sprite;
            @include use-sprite('techsavvyagent');
        }
        .quote {
            font-family: Arial;
            color: $so-light-grey;
            font-size: 14px;
            margin-bottom: 45px;
        }
    }

    .feature {
        padding-left: 30px;        
        padding-right: 30px;        
        
    }

    &__features {
        text-align: center;        
    }

    &__options {
        margin: 35px 0 45px;
        text-align: center;
    }

    &__get-started {
        text-align: center;
        .well {
            padding: 0 45px 0;
        }
    }

    .site-footer {
        background: $so-light-green;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        color: $so-dark-green;
        a { color: $so-dark-green; }
        ul {
            padding: 0;
        }
        li {
           display: block;
        }
    }
    
    @include respond-to($medium) {
        .feature:not(.col-md-12) {
            min-height:160px;
        }
    }


    @include respond-to($desktop) {

        .splash-container-wrap {
            background: url("/images/splash-bg.png") no-repeat top center;
        }
        &__splash {
            padding-top: 90px;
            padding-bottom: 45px;
        }

        .site-footer{
            ul {
                @include horizontal-list;
                float: right;
            }
            li {
                padding-left: 2em !important;
                display: inline; 
            }
        }
    }

}