html, body {
    height: 100%;
}

#main-container {
    @include container-fixed();
}
#main-container, 
#main-container > .row,
.row.row-offcanavas {
  height: 100%;
}

.main {
    margin-left: 0px;
    @extend .col-md-12;
    &__header {
        @extend .navbar;
        @extend .navbar-inverse;
        @extend .navbar-static-top;
        // @extend .col-md-12;
        background-color: $so-light-green;
        border: 0;
        margin-bottom: 0;
        padding: 1em;
        // height: 70px;
        @include respond-to($desktop) {
            padding: 1.75em;
        }
    }

    .mobile-nav-toggle {
        @extend .visible-xs;
        @extend .visible-sm;
        @extend .pull-left;
        margin-top: 0.3em;
        display: inline-block;
        @include use-sprite('hamburger');
    }

    .user-actions {
        float: right;
        max-width: 400px;
        @include clearfix;
    }

    .current-user-avatar {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .visible-md;
        @extend .visible-lg;
        padding-top: 8px;
        height: 38px;
        display: inline;
        margin-right: 2em;
        float:left;
        color: #fff;
        font-family: $museo-500;
        font-size: 1.2em;
        padding-left: 1.6em;
        background: url(images/avatar.png) left 0 top 50% no-repeat;
        
    }
    .add-expense-cta {
        @extend .spendout-btn;
        display: inline;
        float: right;
        font-size: 1.2em;
    }

    .add-expense-cta__desktop {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .visible-md;
        @extend .visible-lg;
    }
    .add-expense-cta__mobile {
        @extend .visible-xs;
        @extend .visible-sm;
        @extend .hidden-md;
        @extend .hidden-lg;
        float: right;
        @include use-sprite('plus');
    } 
    
    @include respond-to($desktop) {
        margin-left: 240px;
        // Take up full width mind sidebar offset
        width: calc(100% - 240px);
    }

}

.grey-bg {
    background: $so-lighter-grey;
}

.spendout-btn {
    @include sassy-button('flat', 5px, 18px, $so-green, $so-dark-green);
    color: #fff;
    font-family: $museo-300;
    background: $so-green;
    padding-bottom: 0.4em;
    display: inline-block ;
}

.inner-page{
    // padding: 0 30px 0;
    header { margin-bottom: 30px; }
}
