#settings-page {
    @extend .inner-page;
    .tab-content {
        @extend .col-md-9;
    }

    .nav-stacked {
        @extend .col-md-3;
    }

    .setting-tab {
        a {
            padding: 20px 15px 20px 15px !important;
            color: $so-green;
            cursor: pointer;
            background: url(images/chevron-green.png) top 50% right 20px no-repeat;
        }
        &.active {
            background: $so-green;
            a {
                color: #fff;
                background: url(images/chevron-white.png) top 50% right 20px no-repeat;
                &:hover {
                    color: #fff;
                    background-color: $so-green
                }
            }
        }
    }
    .nav > li > a:hover, .nav > li > a:focus {
        color: $so-green;

    }
    .nav {
        @extend .row;
        border-right: 1px solid $so-lighter-grey;
        padding-right: 0 !important;
    }

}

.settings-profile {
    .profile-status {
        margin-bottom: 2em;
        text-align: center;

        strong {
            font-weight: normal;
            text-transform: uppercase;
            color: $so-green;
        }
    }
}

.settings-password {

}

.settings-billing {
    .cardAddForm {
        padding: 1em;
    }
    .cards { margin-bottom: 0; }

    .card {
        @extend %table-rows;
    }
    .card-del {
        color: $so-green;
        font-size: 2em;
    }
    .card-add a.toggler {
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
        padding: 1em;
        display: block;
        color: #fff;
        background: $so-green;
    }
}

.settings-notifications {

}

.settings-payments{

    .pager { padding: 0; }
    .payment {
        @extend %table-rows;
        &__plan {
            color: $so-green;
        }
        &__amount {
            color: #ff0000;
        }
    }
}

.settings-cancel-account {

}



