/*
 * Sidebar
 */
.sidebar {
    @extend .col-xs-6;
    overflow-y: scroll;
    width: 240px;
    padding: 0;
    height: 100% !important;
    display: table !important;
    color: $so-light-grey;
    background-color: $so-dark-grey;
    border-right: 1px solid #222;
    cursor: pointer;
    position: absolute;
    li.active {
        background: $so-mid-grey;
    }
    a {  
      display: block;
      color: $so-green;
      font-family: $gotham-book;
    }
    .nav > li {
      // padding-left: 1em;
    }
   .nav > li > a {
      // padding:  1rem;
    }
   .nav > li > a:hover, .nav > li > a:focus{
        background-color: $so-mid-grey !important;
    }

    &__section{
        border-bottom: 1px solid $so-mid-grey;
        // padding: 1.8em 0 1.8em 0;
        @extend .nav;
    }

    &__logo {
        margin: 1rem auto 1rem;
        @include use-sprite('logo');
    }

    &__footer {
        padding: 1rem !important;
        font-size: 1rem;
        .doejo {
          margin-top: 1rem;
        }
        .doejo span {
          @include use-sprite('doejo');
          vertical-align: middle;
          margin-left: 0.5rem;
          display: inline-block;
        }
    }
    

    // Responsive styles @ $desktop
    @include respond-to($desktop) {
      &__logo {
        margin-top: 1.5rem;
      }

      &__section{
        padding: 1.8rem 0 1.8rem 0;
      }

     .nav > li > a {
        padding:  1.6rem;
        padding-left: 3rem;
      }
    }
}

