<!--
  Notifications.html
-->

<div class="col-md-8 ">

    <section class="notifications-main">
        <header>
            <h1 class="section-header">
                <span>Notifications</span>
            </h1>
        </header>
        <div>
            Notifications Go Here.
        </div>
    </section><!-- .otifications-main -->


</div>

<div class="col-md-4">

    <section class="create-reminder">
        <header>
            <h1 class="section-header-alt">
                <span>Create Reminder</span>
            </h1>
        </header>
        <div>
            Create Reminder Form Goes Here
        </div>
    </section><!-- .latest-activity -->



</div>
