<section class="settings-billing">
    <div class="wrapper col-md-8 col-md-offset-1">
        <table class="table cards">
            <tbody>
                <tr ng-repeat="card in cards" class="card">
                    <td ng-show="card.card_id !== defaultCard"><img src="assets/images/credit-card.png"></td>
                    <td ng-show="card.card_id === defaultCard"><img src="assets/images/credit-card-default.png"></td>
                    <td>{{card.name}}</td>
                    <td>{{card.credit_card_number}}</td>
                    <td><span class="card-del">&times;</span></td>
                </tr>
            </tbody>
        </table>

        <div class="card-add">

            <div class="">
                <a href class="toggler" ng-click="openAddNewCardModal()">Add Credit Card <span class="glyphicon glyphicon-plus pull-right"></span></a>
            </div>
        </div>

        <div ng-show="cards.length < 1"> Sorry, no cards are associated with this Account.</div>
    </div>
</section>

