<!--
  Expenses.html
-->
<div class="col-md-9">

    <section class="expenses-main">
        <header>
            <h1 class="section-header">
                <span>Expenses</span>
            </h1>
        </header>
        <div>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search">
                </div>
                <div class="form-group">
                    <quick-datepicker ng-model='startDate' placeholder='Start Date' disable-timepicker='true'></quick-datepicker>
                </div>
                <div class="form-group">
                    <quick-datepicker ng-model='endDate' placeholder='End Date' disable-timepicker='true'></quick-datepicker>
                </div>
                <div class="form-group">
                    <select class="form-control" name="peopleFilter" id="">
                        <option value="">Name</option>
                        <option value=""></option>
                    </select>
                </div>
            </form>
        <hr>
         <table ng-table="tableParams" show-filter="true" class="table">
             <tr ng-repeat="expense in $data">
                <td data-title="''" ng-show="expense.image_urls.length"><img ng-src="{{ expense.image_urls[0] }}" width="50px" height="50px" style="vertical-align: top"></td>
                <td data-title="''" ng-show="!expense.image_urls.length"><img src="assets/images/receipt-placeholder.png"></td>
                <td data-title="'Date'" sortable="'date'">
                    {{ expense.date | toISOString | date:'MMM d, yyyy'}}
                </td>
                <td data-title="'Description'" sortable="'description'">
                    {{ expense.description }}
                </td>
                 <td data-title="'Category'" sortable="'category.name'">
                    {{ expense.category.name }}
                </td>
                <td data-title="'Amount'" sortable="'amount'">
                    {{expense.amount | currency}}
                </td>
                <td data-title="''" >
                   <a href ng-click="editExpense(expense.id)" class="btn btn-primary">Edit</a>
                </td>
             </tr>
         </table>
           <!--  <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Date </td>
                        <td>Description </td>
                        <td>Category </td>
                        <td>Amount </td>
                        <td></td>
                    </tr>
                </thead> -->
                <!-- <expense-item></expense-item> -->
              <!--   <tbody>
                    <tr ng-repeat="expense in expenses | filter:search | daterange:startDate:endDate " id="expense-{{expense.id }}">
                        <td ng-show="expense.image_urls.length"><img ng-src="{{ expense.image_urls[0] }}" width="50px" height="50px" style="vertical-align: top"></td>
                        <td ng-show="!expense.image_urls.length"><img src="assets/images/receipt-placeholder.png"></td>
                        <td>{{ expense.date | toISOString | date:'MMM d, yyyy'}}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.category.name }}</td>
                        <td>{{ expense.amount | currency }}</td>
                        <td><a href ng-click="editExpense(expense.id)">Edit</a></td>
                    </tr>
                </tbody>


            </table> -->
        </div>
    </section><!-- .expenses-main -->

</div>




<div class="col-md-3  grey-bg">

    <section class="total-expenses">
        <header>
            Total Expenses
        </header>
        <div>
            Total Expenses Go Here
        </div>
    </section><!-- .total-expenses -->

</div>
