<!--
    Reminders.html
-->

<div class="col-md-7">

    <section class="reminders-main">
        <header>
            <h1 class="section-header">
                <span>Reminders</span>
            </h1>
        </header>
        <div>
            Reminders Goes Here.
        </div>
    </section><!-- .reminders-main -->

</div>



<div class="col-md-5">

    <section class="create-reminder">
        <header>
            <h1 class="section-header-alt">
                <span>Create a Reminder</span>
            </h1>
        </header>
        <div>
            Create Reminder Form
        </div>
    </section><!-- .create-reminder -->

</div>
