<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Title</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="main-container">

        <div class="row row-offcanvas row-offcanvas-left">
        
            <div class="sidebar sidebar-offcanvas ">
               
                <div class="sidebar__logo" href ui-sref="app.dashboard"></div>
                
                <ul class="sidebar__section ">
                    <li><a ui-sref="app.expenses" href>Expenses</a></li>
                    <li><a ui-sref="app.budget" href>Budget</a></li>
                    <li><a ui-sref="app.reports" href>Reports</a></li>
                    <li><a ui-sref="app.people" href>People</a></li>
                    <li><a ui-sref="app.reminders" href>Reminders</a></li>
                    <li><a ui-sref="app.settings" href>Settings</a></li>
                    <li><a ui-sref="app.notifications" href>Notifications</a></li>
                </ul>

                <ul class="sidebar__section">
                    <li><a ui-sref="app.contact" href>Contact</a></li>
                    <li><a ui-sref="public.termsOfService" href="">Terms of Service</a></li>
                    <li ng-show="user" ng-controller="LogoutController">
                        <a ng-click="logout()" href="#">Log Out</a>
                    </li>
                    <!-- <li ng-show="!user"><a ui-sref="public.login" href="#">Login</a></li> -->
                </ul>

                <footer class="sidebar__footer">

                    &copy; 2014 SpendOut, LLC. All Rights Reserved.<br/>

                    <div class="doejo">
                        made by <span></span>
                    </div>

                </footer>

            </div><!-- sidebar -->

            <div class="main" >

                <div class="row">

                    <div class="main__header" role="navigation">
                    
                        <span class="mobile-nav-toggle" data-toggle="offcanvas"></span>

                        <div class="user-actions" ng-if="user.email">

                            <div class="current-user-avatar">
                                bryan@doejo.com<!-- {{ user.email | capitalize }}-->
                            </div>

                            <a href class="add-expense-cta add-expense-cta__desktop spendout-btn" 
                               ng-controller="CreateExpenseController" ng-click="open()">
                                Add Expense
                            </a>

                            <a href class="add-expense-cta__mobile" 
                                ng-controller="CreateExpenseController" 
                                ng-click="open()">
                            </a>
                        </div><!-- .user-actions -->

                    </div><!-- .main__header -->

                </div> <!-- .row -->
                
                  
                 <div class="row">
                    
                    <div class="col-xs-12 col-md-8 grey-bg">
                        <section class="last-30-days ">
                            <header>
                                <h1 class="section-header">
                                    <span>Last 30 Days</span>
                                </h1>
                            </header>
                            <div>
                                Pie Chart Goes Here.

                                <ul>
                                    <li ng-repeat="expense in overview">
                                        $23.44
                                        <!-- {{ expense.amount | currency }} -->
                                    </li>
                                </ul>

                                <canvas ng-show="dash.overview" id="myChart" width="300" height="300"></canvas>
                            </div>
                        </section><!-- .last-30-days -->


                        <section class="this-year">
                            <header>
                                <h1 class="section-header">
                                    <span>This Year</span>
                                </h1>
                            </header>
                            <div>
                                Line Chart Goes Here.
                            </div>
                        </section><!-- .this-year -->

                    </div><!-- col-md-8 grey-bg -->

                    <div class="col-xs-12 col-md-4 ">

                        <section class="latest-activity">
                            <header>
                                <h1 class="section-header-alt">
                                    <span>Latest Activity</span>
                                </h1>
                            </header>
                            <div>
                                Recent Expenses Go Here
                            </div>
                        </section><!-- .latest-activity -->


                        <section class="upcoming-reminders">
                            <header>
                                <h1 class="section-header-alt">
                                    <span>Upcoming Reminders</span>
                                </h1>
                            </header>
                            <div>
                                Upcoming Reminder Go Here
                            </div>
                        </section><!-- .latest-activity -->

                    </div><!-- col-md-4 -->

                </div><!-- .row -->
               

            </div><!-- .main (extends .container-fluid)-->

        </div><!-- .row -->

    </div><!-- main-container -->



        <!-- <div>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                    <div class='alert alert-danger'>
                        <button ng-show='closeable' type='button' class='close' ng-click='close()'>&times;</button>
                        <div ng-transclude>Hey!</div>
                    </div>
                </alert>
            </div> -->
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>

</body>
</html>