@font-face{ 
    font-family: 'GothamHTFBook';
    src: url('fonts/gotham-book/gothamhtf-book-webfont.eot');
    src: url('fonts/gotham-book/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-book/gothamhtf-book-webfont.woff') format('woff'),
         url('fonts/gotham-book/gothamhtf-book-webfont.ttf') format('truetype'),
         url('fonts/gotham-book/gothamhtf-book-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'GothamHTFMedium';
    src: url('fonts/gotham-medium/gothamhtf-medium-webfont.eot');
    src: url('fonts/gotham-medium/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-medium/gothamhtf-medium-webfont.woff') format('woff'),
         url('fonts/gotham-medium/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('fonts/gotham-medium/gothamhtf-medium-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Museo300';
    src: url('fonts/museo-300/museo300-regular-webfont.eot');
    src: url('fonts/museo-300/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-300/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo-300/museo300-regular-webfont.ttf') format('truetype'),
         url('fonts/museo-300/museo300-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Museo500';
    src: url('fonts/museo-500/museo_500-webfont.eot');
    src: url('fonts/museo-500/museo_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-500/museo_500-webfont.woff') format('woff'),
         url('fonts/museo-500/museo_500-webfont.ttf') format('truetype'),
         url('fonts/museo-500/museo_500-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Museo700';
    src: url('fonts/museo-700/museo_700-webfont.eot');
    src: url('fonts/museo-700/museo_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-700/museo_700-webfont.woff') format('woff'),
         url('fonts/museo-700/museo_700-webfont.ttf') format('truetype'),
         url('fonts/museo-700/museo_700-webfont.svg#webfont') format('svg');
}










