// Media Queries
$small:              "max-width: #{$screen-xs-max}";
$medium:             "min-width: #{$screen-sm-min}";
$desktop:            "min-width: #{$screen-md-min}";
$large-desktop:      "min-width: #{$screen-lg-min}";

//Colors
$so-grey:             #2e2e2e;
$so-dark-grey:        $so-grey;
$so-mid-grey:         #454545;
$so-light-grey:       #7a7a7a;
$so-lighter-grey:     #f6f6f6;

$so-dark-green:       #0d5d4e;
$so-green:            #3eb39e;
$so-light-green:      #9bd5cb;

// Font Stacks
$gotham-medium: "GothamHTFMedium", Helvetica, Arial, sans-serif !default;
$gotham-book:   "GothamHTFBook", Helvetica, Arial, sans-serif !default;
$museo-300:     "Museo300", "Times New Roman", Times, serif !default;
$museo-500:     "Museo500", "Times New Roman", Times, serif !default;
$museo-700:     "Museo700", "Times New Roman", Times, serif !default;

// Globals Overrirdes
$link-color:             $so-grey;
$text-color:             $so-grey;
$font-family-base: $gotham-medium;

$icon-font-path: 'fonts/';


