@import 'compass/css3';
@import 'compass/typography/lists/horizontal-list';
@import "sassy-buttons";
@import 'bootstrap/bootstrap-compass';
@import 'bootstrap/bootstrap';

@import 'variables';
@import 'type';
@import 'mixins';
@import 'sprites';


// Modules
@import 'partials/home';
@import 'partials/sidebar';
@import 'partials/main';
@import 'partials/settings-page';


// Objects
@import 'objects/section-header';
@import 'objects/spinner';
@import 'objects/table-rows';
@import 'objects/offcanvas-left';


h1, h2, h3, h4{
    font-family: $museo-300;
    color: $so-green;
} 


a {
  color: $so-green;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
    border: 1px solid red;
}


.login-form {
    -webkit-transition: linear 1s;
    transition: linear 1s;

}
.login-form.ng-enter {
    opacity: 0;
}
.login-form.ng-enter-active {
    opacity: 1;
}
.login-form.ng-leave {
    opacity: 1;
}
.login-form.ng-leave-active {
    opacity: 0;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
input.ng-dirty.ng-valid {
    border: 1px solid green;
}

.has-error {
     border: 1px solid red;
}


.alert-error {
    @extend .alert-danger;
}