<section class="settings-payments">

    <div class="wrapper col-md-10 col-md-offset-1">

        <table class="table" id="payments-table">

            <tbody>
                <tr ng-repeat="payment in pagedPayments" class="payment">
                    <td class="payment__date">{{ payment.payment_date | toISOString | date:'MMM d, yyyy' }} </td>
                    <td class="payment__plan">{{ payment.plan || 'unknown' | titleize  }} Plan </td>
                    <td class="payment__amount">{{ payment.amount | currency }} </td>
                </tr>
            </tbody>

            <div ng-show="pagedPayments.length <= 0">Sorry, No Payments in History</div>

        </table><!-- /.table -->

        <ul class="pager" ng-show="pagedPayments.length > 0">

            <li class="previous" ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>

            <li class="next" ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
            </li>

        </ul><!-- / .pager -->

    </div><!-- / .wrapper -->

</section>

