<!--
    Settings.html
-->

<div class="col-md-12" id="settings-page">

    <section class="setting-main">

        <header>
            <h1 class="section-header">
                <span>Settings</span>
            </h1>
        </header>

        <tabset vertical="true" type="pills" >
            <tab ng-repeat="t in tabs"
                heading="{{t.heading}}"
                select="go(t.route)"
                class="setting-tab"
                active="t.active">
            </tab>

        </tabset>

        <div class="tab-content">
            <div ui-view></div>
        </div>




    </section><!-- .setting-main -->

</div>




