<!--
People.html
-->

<div class="col-md-7">

    <section class="people-main">
        <header>
            <h1 class="section-header">
                <span>People</span>
            </h1>
        </header>
        <div>
            Budget Listings Goes Here.
        </div>
    </section><!-- .people-main -->

</div>



<div class="col-md-5">

    <section class="add-person">
        <header>
            <h1 class="section-header-alt">
                <span>Add a Person</span>
            </h1>
        </header>
        <div>
            Add a Person form
        </div>
    </section><!-- .add-person -->

    <section class="latest-expenses">
        <header>
            <h1 class="section-header-alt">
                <span>Latest Expenses</span>
            </h1>
        </header>
        <div>
            Latest Expenses listings
        </div>
    </section><!-- .latest-expenses -->


</div>
