<!--
Budget.html
-->

<div class="col-md-7">

    <section class="budget-main">
        <header>
            <h1 class="section-header">
                <span>Budget</span>
            </h1>
        </header>
        <div>
            Budget Listings Goes Here.
        </div>
    </section><!-- .budget-main -->

</div>



<div class="col-md-5">

    <section class="create-category">
        <header>
            <h1 class="section-header-alt">
                <span>Create a Category</span>
            </h1>
        </header>
        <div>
            Create a Category Form Here
        </div>
    </section><!-- .create-category -->

    <section class="latest-balance">
        <header>
            <h1 class="section-header-alt">
                <span>Latest Balance</span>
            </h1>
        </header>
        <div>
            Latest Balance listings here
        </div>
    </section><!-- .latest-balance -->

</div>
