<!--
Reports.html
-->

<div class="col-md-7">

    <section class="reports-main">
        <header>
            <h1 class="section-header">
                <span>Reports</span>
            </h1>
        </header>
        <div>
            Reports Go Here.
        </div>
    </section><!-- .reports-main -->

</div>



<div class="col-md-5">

    <section class="create-report">
        <header>
            <h1 class="section-header-alt">
                <span>Create an Expense Report</span>
            </h1>
        </header>
        <div>
            Create an Expense Report Form Here
        </div>
    </section><!-- .create-report -->


</div>
