<section class="settings-profile ">

    <div class="wrapper col-md-4 col-md-offset-4">

        <div class="profile-status">
            <strong>status:</strong> {{ user.status }} |
            <!-- | titleize -->
            <strong>plan:</strong> {{ user.plan }}
            <!-- | titleize  -->
        </div>

        <div id="form-flash" flash-alert active-class="in alert" class="fade">
            <!-- <strong class="alert-heading">Success!</strong> -->
            <span class="alert-message">{{flash.message}}</span>
        </div>

        <form role="form" name="userProfileForm" ng-submit="userProfileForm.$valid && updateProfile()" novalidate>
            <div class="form-group">
                <input type="email" ng-model="profileData.email" class="form-control" placeholder="Email" required>
                <span class="help-block" ng-show="userProfileForm.email.$invalid && !userProfileForm.email.$pristine">Enter a valid email</span>
            </div>
            <div class="form-group">
                <input type="text" ng-model="profileData.username" class="form-control" placeholder="Username" required>
                <span class="help-block" ng-show="userProfileForm.username.$invalid && !userProfileForm.username.$pristine">Username is Required</span>
            </div>
            <div class="form-group">
                <input type="tel" ng-model="profileData.phone_number" ng-minlength="10" ng-maxlength="20" class="form-control" placeholder="Phone Number" required>
                <span class="help-block" ng-show="userProfileForm.phone_number.$invalid && !userProfileForm.phone_number.$pristine">Email is Required</span>
            </div>

            <button ng-disabled="!userProfileForm.$valid" class="form-control spendout-btn ">Update Profile</button>
        </form>


        Valid ?: {{ userProfileForm.$valid }} <br/>
        Error ?: {{ userProfileForm.$error }}

    </div><!-- wrapper -->

</section>

