<div class="page home-page">
    <div class="splash-container-wrap" style="">
        <div class="splash-container">

            <div class="home-page__splash row">
                
                <div class="col-md-4">
                    <div class="logo"></div>
                    <h1>Really easy <br> expense tracking</h1>
                    <p>
                        Over 50,000 people have relied on SpendOut to keep track of 
                        their business and personal expenses. Easily store, organize
                        and access your receipts, expense reports, mileage tracking
                        and more via SMS, Web, email, iPhone and Twitter.
                    </p>
                    <a ui-sref="site.signup" class="cta">Get Started for FREE</a>
                </div>

                <div class="col-md-8">&nbsp;</div>
               
            </div><!-- .row -->
        </div><!-- splash-container -->
    </div><!-- splash-container-wrap -->

    <div class="container">
        <div class="home-page__testimony row">
            
            <div class="col-xs-6 col-md-3">
                <div class="cnbc"></div>
                <div class="quote">Featured on <br> "Planet of the Apps"</div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="mashable"></div>
                <div class="quote">Featured on <br>"Spark of Genius"</div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="pc-world"></div>
                <div class="quote">"The interface is a cinch"</div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="techsavvyagent"></div>
                <div class="quote">"Say 'goodbye' to <br> tax-time headaches"</div>
            </div>
            
        </div><!-- .row -->

        <div class="home-page__features row">
            <div class="col-md-12">
                <h3 class="title">Smarter expense tracking for personal or business use</h3>
            </div>

            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Smart Categories</h3>
                <p>
                    IRS based expense categories are built right in. Our system gets smarter every time to auto associate future expenses to the correct categories. 
               </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Track Group Spending</h3>
                <p>
                    Tracking group expenses and household expenses can be a pain. With SpendOut, you can easily add new users to begin tracking spending across groups.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Easy to use Analytics</h3>
                <p>
                    Understand where your money is going with our easy to understand reports. You can also easily export XLS and CSV for financial reporting.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Set Budgets &amp; Reminders</h3>
                <p>
                    Keep track of bills, due dates, and category-based budgets. Our handy SMS, and e-mail notifications will always keep you on time and on budget.
                </p>
            </div>

        </div>
        <div class="home-page__features row">

            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Track Mileage</h3>
                <p>
                    If you need to track your mileage for work or personal reimbursements, enter your tax rate and easily track your trips via odometer readings.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Store Receipts</h3>
                <p>
                    Receipt storage is included for all users. You can easily upload receupts via our webapp, or take a photo of receipts with your iPhone.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Safe &amp; Secure</h3>
                <p>
                    Your data is stored safely and securely behind 256-bit encryption. Any information you store using our service is safe from prying eyes.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Total Control</h3>
                <p>
                    We’ve designed our service to put you in complete control.  We will not ever request or require access to sensitive or your  accounts.
                </p>
            </div>
        </div>

         <div class="home-page__options row">
            <div class="col-md-12">
               <h3 class="title">More convenient expense tracking options</h3> 
            </div>
            
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>SMS</h3>
                <p>
                    We originally built our expense tracking solution to work over text-message. Any time you need to track expenses, just send a text.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Email</h3>
                <p>
                    Perfect for long form expense tracking, you can simply email your expenses to your SpendOut dropbox, separating each expense line-by-line.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>Web</h3>
                <p>
                    SpendOut gets smarter the longer you use it, make a habit of logging in regularly. This helps keep our smart-categories working cleanly.
                </p>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <h3>iOS</h3>
                <p>
                    Our iPhone app allows you to track expenses just you would from our website, even when you’re out of range or without an internet connection.
                </p>
            </div>
            
            <div class="feature col-md-12">
                <h3>Friendly Support</h3>
                <p>
                    If you have a questions, comment or suggestions, we’re here ready to help. We respond to most requests in hours, not days.
                </p>
            </div>
           
        </div>


        <div class="home-page__get-started row">
            <div class="col-md-10 col-md-offset-1 well">
                <h3 class="title">Get Started for FREE today.</h3>
                <p>
                    If you’re ready to take control and manage your expenses is a
                    smart and easy way, then give us a shot, and <a href="">sign up for FREE today.</a>
                </p>
            </div>
        </div>

    </div><!-- main-container -->
    
    <footer class="site-footer">
        <div class="container">
             <div class="row">
                <div class="col-xs-12 col-md-6">
                    &copy; 2013 SpendOut, LLC. all rights reserved. Made by <span class="doejo"></span>
                </div>
                <div class="col-xs-12 col-md-6">
                    
                        <ul>
                            <li><a ui-sref="site.terms">Privacy &amp; Security</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                   
                </div>
            </div>
        </div>
    </footer>

</div>

        <!-- <div>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                    <div class='alert alert-danger'>
                        <button ng-show='closeable' type='button' class='close' ng-click='close()'>&times;</button>
                        <div ng-transclude>Hey!</div>
                    </div>
                </alert>
            </div> -->


