<div class="container">
   <div id="login-form" class="login-form row">
        <div class="wrapper col-md-4 col-md-offset-4">
            <h2>Login</h2>
            <form role="form" name="loginForm" ng-submit="loginForm.$valid && loginCtrl.login(loginCtrl.credentials)" novalidate>

                <div>
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                        {{ alert.msg }}
                    </alert>
                </div>

                <div class="form-group">
                    <label for="email">Username:</label>
                    <input type="email" class="form-control" id="email" ng-model="loginCtrl.credentials.email" required>
                </div>
                <!--form-group -->

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control"  id="password"  ng-model="loginCtrl.credentials.password" required>
                </div>
                <!--form-group-->

                <button type="submit" class="btn btn-lg spendout-btn btn-block">Login</button> 

            </form>
        </div>
    </div>
</div>
