 <div class="col-xs-12 col-md-8 grey-bg">
    <section class="last-30-days ">
        <header>
            <h1 class="section-header">
                <span>Last 30 Days</span>
            </h1>
        </header>
        <div>
            Pie Chart Goes Here.

            <ul>
                <li ng-repeat="expense in overview">
                    $23.44
                    <!-- {{ expense.amount | currency }} -->
                </li>
            </ul>

            <canvas ng-show="dash.overview" id="myChart" width="300" height="300"></canvas>
        </div>
    </section><!-- .last-30-days -->


    <section class="this-year">
        <header>
            <h1 class="section-header">
                <span>This Year</span>
            </h1>
        </header>
        <div>
            Line Chart Goes Here.
        </div>
    </section><!-- .this-year -->

</div><!-- col-md-8 grey-bg -->

<div class="col-xs-12 col-md-4 ">

    <section class="latest-activity">
        <header>
            <h1 class="section-header-alt">
                <span>Latest Activity</span>
            </h1>
        </header>
        <div>
            Recent Expenses Go Here
        </div>
    </section><!-- .latest-activity -->


    <section class="upcoming-reminders">
        <header>
            <h1 class="section-header-alt">
                <span>Upcoming Reminders</span>
            </h1>
        </header>
        <div>
            Upcoming Reminder Go Here
        </div>
    </section><!-- .latest-activity -->

</div><!-- col-md-4 -->
